body {
  font: 35px "Century Gothic", Futura, sans-serif;
  margin: 30px 0;
  text-align: center;
  background-color: rgb(218, 179, 79);
}

/* text(headline) "GOMOKU" on the page */
#go {
  color: rgb(55, 191, 111);
}

#mo {
  color: rgb(143, 92, 142);
}

#ku {
  color: rgb(128, 38, 0);
}

/* game status text*/
.status-txt {
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

/* gomoku board */
.game {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.game-board {
  margin: 0 auto;
}

/* gomoku board to play */
#goBoard {
  border: 2px solid black;
}
